# Cmake build artifacts
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.elf
*.map
*.hex
*.bin
*.obj
*.o
*.d
generated_output/

# 编辑器临时文件
*~
.vscode/.cache
.vscode/settings.json
.DS_Store
